<ng-container  *ngIf="emptyUserValues.length>0 else createPrize">
    <!-- begin::Header -->
      <div class="card-header border-0">
        <h3 class="card-title fw-bolder text-dark ">Alerts</h3>
      </div>
      <!-- end::Header -->
      
      <!-- begin::Body -->
      <div class="card-body p-0">
        <!-- begin::Item -->
        <div class="d-flex align-items-center rounded w-500px mx-auto">
          <!-- begin::Icon -->
          <span class="svg-icon svg-icon-warning me-5">
            <span
         
              class="svg-icon svg-icon-1"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none">
              <path opacity="0.4" d="M30.8265 22.5533L21.7598 6.23325C20.5415 4.03742 18.8557 2.83325 16.9998 2.83325C15.144 2.83325 13.4582 4.03742 12.2398 6.23325L3.17318 22.5533C2.02568 24.6358 1.89818 26.6333 2.81901 28.2058C3.73985 29.7783 5.55318 30.6424 7.93318 30.6424H26.0665C28.4465 30.6424 30.2598 29.7783 31.1807 28.2058C32.1015 26.6333 31.974 24.6216 30.8265 22.5533Z" fill="#292D32"/>
              <path d="M17 20.8958C16.4192 20.8958 15.9375 20.4142 15.9375 19.8333V12.75C15.9375 12.1692 16.4192 11.6875 17 11.6875C17.5808 11.6875 18.0625 12.1692 18.0625 12.75V19.8333C18.0625 20.4142 17.5808 20.8958 17 20.8958Z" fill="#292D32"/>
              <path d="M17.0002 25.5C16.9152 25.5 16.816 25.4858 16.7168 25.4716C16.6318 25.4575 16.5468 25.4291 16.4618 25.3866C16.3768 25.3583 16.2918 25.3158 16.2068 25.2591C16.136 25.2025 16.0652 25.1458 15.9943 25.0891C15.7393 24.82 15.5835 24.4516 15.5835 24.0833C15.5835 23.715 15.7393 23.3466 15.9943 23.0775C16.0652 23.0208 16.136 22.9641 16.2068 22.9075C16.2918 22.8508 16.3768 22.8083 16.4618 22.78C16.5468 22.7375 16.6318 22.7091 16.7168 22.695C16.901 22.6525 17.0993 22.6525 17.2693 22.695C17.3685 22.7091 17.4535 22.7375 17.5385 22.78C17.6235 22.8083 17.7085 22.8508 17.7935 22.9075C17.8643 22.9641 17.9352 23.0208 18.006 23.0775C18.261 23.3466 18.4168 23.715 18.4168 24.0833C18.4168 24.4516 18.261 24.82 18.006 25.0891C17.9352 25.1458 17.8643 25.2025 17.7935 25.2591C17.7085 25.3158 17.6235 25.3583 17.5385 25.3866C17.4535 25.4291 17.3685 25.4575 17.2693 25.4716C17.1843 25.4858 17.0852 25.5 17.0002 25.5Z" fill="#292D32"/>
            </svg></span>
          </span>
          <!-- end::Icon -->
          <!-- begin::Title -->
          <div class="flex-grow-1 me-2">
            <a (click)="navigateToProfile()" class="fw-bolder text-gray-800 text-hover-primary fs-6 cursor-pointer">
              Your profile isn't complete
            </a>
            <span class="text-muted fw-bold d-block">
              <span *ngFor="let property of emptyUserValues" class="text-capitalize">
                <ng-container *ngIf="property ==='bankName'">
                  Bank Name
                </ng-container>
                <ng-container *ngIf="property ==='iban'">
                  Iban
                </ng-container>
                <ng-container *ngIf="property ==='bankCountry'">
                  Bank Country
                </ng-container>
                <ng-container *ngIf="property ==='faxNumber'">
                  Fax Number
                </ng-container>
                <ng-container *ngIf="property ==='poBox'">
                  P.O Box
                </ng-container>
                <ng-container *ngIf="property ==='addressLine'">
                  Address Line
                </ng-container>
                <ng-container *ngIf="property ==='zipCode'">
                 Zip Code
                </ng-container>
                <ng-container *ngIf="property ==='bio'">
               Bio
                </ng-container>
              </span> 
              <ng-container *ngIf="emptyUserValues.length>1" >are</ng-container>
              <ng-container *ngIf="emptyUserValues.length===1" >is</ng-container>
               missing
            </span>
          </div>
          <!-- end::Title -->
          <!-- begin::Lable -->
          <span class="symbol-label bg-light-warning cursor-pointer" (click)="navigateToProfile()">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-2x svg-icon-warning"
              ></span>
            </span>
          <!-- end::Lable -->
        </div>
        <!-- end::Item -->
      
      </div>
      <!-- end::Body -->
      


</ng-container>
<ng-template #createPrize>
  <div class=" bgi-no-repeat bgi-size-cover bg-prize h-100 ">
    <!--begin::Body--> 
    <div class="card-body d-flex flex-column gap-10">
      <!--begin::Title-->
      <div class=" fs-3">
        <h2 class=" fs-3 text-info mb-2">Create a New Prize</h2>
        <div class="text-gray-600 mt-1 fw-bold fs-7">Create a Winning Prize Challenge</div>
      </div>
      <!--end::Title-->
      <!--begin::Link-->
      
      <button class="border-btn position-relative text-white" style="padding-right: 40px; border: #7239EA; background-color: #7239EA;" (click)="openCreatePrize()">
        <a  class="text-primary fw-bold" >Create Prize
          <a  class="link-btn-2 arrow-2 arrow-create" >
            <i class="fas fa-arrow-right text-white"  ></i>
            <i class="fas fa-arrow-right text-white" ></i>
    </a>
          
          <!--end::Svg Icon--></a>
      </button>
      <!--end::Link-->
    </div>
    <!--end::Body-->
  </div>
</ng-template>