<header>
    <div class="header-content pt-2">
      <h4 class="fw-boldest text-gray-800 fs-2 pe-5 pb-7 text-center">
        CASE CONTRACT
      </h4>
      <div
        class="d-flex justify-content-between flex-column flex-sm-row"
        cmder
      >
        <div class="case-title">
          <div class="d-flex gap-3 align-items-center">
            <div class="case-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="42"
                height="37"
                viewBox="0 0 42 37"
                fill="none"
              >
                <g clip-path="url(#clip0_580_852)">
                  <path
                    d="M19.9597 9.26444V24.6279L15.9563 19.8068L0.0852052 0.711462C-0.17124 0.304868 0.241922 -0.15981 0.640836 0.0434867L11.9529 4.21107C11.9529 4.21107 11.9672 4.22559 11.9957 4.22559L17.0961 6.11334C17.3668 6.21499 17.6232 6.33116 17.8796 6.46185C18.1076 6.57802 18.3355 6.72324 18.5492 6.86845C19.5323 7.56546 19.9597 8.30604 19.9597 9.26444Z"
                    fill="url(#paint0_linear_580_852)"
                  />
                  <path
                    d="M1.13855 36.9856C0.739638 37.0873 0.483193 36.6516 0.739638 36.3467L3.36108 33.5441C5.04222 31.6128 12.3936 23.3502 16.1406 19.2698C18.0069 17.2368 19.9445 15.5233 19.9445 12.0527V28.8247C19.9445 30.1316 19.2607 31.09 17.608 32.0339C17.608 32.0339 17.5795 32.0629 17.5368 32.0629L1.13855 36.9856Z"
                    fill="url(#paint1_linear_580_852)"
                  />
                  <path
                    d="M19.9594 10.0198L12.893 12.0527L12.1094 15.1748L15.7851 19.6038L15.8136 19.6328C15.9276 19.5166 16.0415 19.3859 16.1413 19.2698C17.6657 17.6144 19.2328 16.1768 19.76 13.8243C19.8882 13.287 19.9452 12.7062 19.9452 12.0527"
                    fill="url(#paint2_linear_580_852)"
                  />
                  <path
                    d="M22.0547 9.26457V24.628L26.0581 19.807L41.9292 0.72611C42.1856 0.319517 41.7725 -0.145162 41.3735 0.0581351L30.0757 4.2112C30.0757 4.2112 30.0615 4.22572 30.033 4.22572L24.9326 6.11347C24.6619 6.21512 24.4054 6.33129 24.149 6.46198C23.921 6.57815 23.6931 6.72336 23.4794 6.86857C22.4963 7.56559 22.0547 8.30617 22.0547 9.26457Z"
                    fill="url(#paint3_linear_580_852)"
                  />
                  <path
                    d="M24.4624 32.0775C24.4339 32.0775 24.3912 32.0484 24.3912 32.0484C22.7528 31.1191 22.0547 30.1461 22.0547 28.8392V12.0527C22.0547 15.5233 23.9923 17.2368 25.8586 19.2698C29.6056 23.3502 36.957 31.5983 38.6381 33.5441L41.2596 36.3467C41.516 36.6516 41.2596 37.0873 40.8607 36.9856L24.4624 32.0775Z"
                    fill="url(#paint4_linear_580_852)"
                  />
                  <path
                    d="M22.0547 10.0198L29.1212 12.0527L29.9048 15.1748L26.2148 19.6038H26.1863C26.0723 19.4876 25.9726 19.3714 25.8586 19.2553C24.3342 17.5998 22.767 16.1622 22.2399 13.8098C22.1117 13.2725 22.0547 12.6917 22.0547 12.0382"
                    fill="url(#paint5_linear_580_852)"
                  />
                </g>
                <defs>
                  <linearGradient
                    id="paint0_linear_580_852"
                    x1="21.312"
                    y1="18.0093"
                    x2="3.68599"
                    y2="-1.35033"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791227" stop-color="#0050BF" />
                    <stop offset="0.2003" stop-color="#0A67C7" />
                    <stop offset="0.6002" stop-color="#24A0DB" />
                    <stop offset="1" stop-color="#41E0F2" />
                  </linearGradient>
                  <linearGradient
                    id="paint1_linear_580_852"
                    x1="4.70408"
                    y1="33.671"
                    x2="23.7909"
                    y2="18.5926"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791227" stop-color="#0050BF" />
                    <stop offset="0.2003" stop-color="#0A67C7" />
                    <stop offset="0.6002" stop-color="#24A0DB" />
                    <stop offset="1" stop-color="#41E0F2" />
                  </linearGradient>
                  <linearGradient
                    id="paint2_linear_580_852"
                    x1="19.4323"
                    y1="18.5648"
                    x2="15.7693"
                    y2="12.3895"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791249" />
                    <stop
                      offset="1"
                      stop-color="#1176CC"
                      stop-opacity="0"
                    />
                  </linearGradient>
                  <linearGradient
                    id="paint3_linear_580_852"
                    x1="20.698"
                    y1="18.0066"
                    x2="38.324"
                    y2="-1.35299"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791227" stop-color="#0050BF" />
                    <stop offset="0.2003" stop-color="#0A67C7" />
                    <stop offset="0.6002" stop-color="#24A0DB" />
                    <stop offset="1" stop-color="#41E0F2" />
                  </linearGradient>
                  <linearGradient
                    id="paint4_linear_580_852"
                    x1="37.2955"
                    y1="33.6892"
                    x2="18.2086"
                    y2="18.6108"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791227" stop-color="#0050BF" />
                    <stop offset="0.2003" stop-color="#0A67C7" />
                    <stop offset="0.6002" stop-color="#24A0DB" />
                    <stop offset="1" stop-color="#41E0F2" />
                  </linearGradient>
                  <linearGradient
                    id="paint5_linear_580_852"
                    x1="22.5781"
                    y1="18.5498"
                    x2="26.2364"
                    y2="12.3825"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.00791249" />
                    <stop
                      offset="1"
                      stop-color="#1176CC"
                      stop-opacity="0"
                    />
                  </linearGradient>
                  <clipPath id="clip0_580_852">
                    <rect width="42" height="37" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="case-name">
              <div class="d-flex justify-content-start flex-column">
                <div class="text-hover-primary fw-bold fs-4">
                  {{ currentContract.businessCase.name }}
                </div>
                <span class="text-muted fw-medium d-block fs-8">{{ currentContract.businessCase.uuid }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="case-dates d-flex flex-column align-items-end">
          <div class="d-flex justify-content-betweenflex-row gap-10">
            <div class="text-hover-primary fs-7 fw-bold">
              Owner Acceptance Date:
            </div>
            <div class="text-muted text-hover-primary fs-7 fw-medium min-w-80px" >
              {{ currentContract.ownerAcceptanceDate }}
            </div>
          </div>
          <div
            class="d-flex justify-content-between flex-row mt-2 gap-10"
          >
            <div class="text-hover-primary fs-7 fw-bold">
              Participant Acceptance Date:
            </div>
            <div class="text-muted text-hover-primary fs-7 fw-medium min-w-80px" >
             <ng-container *ngIf="currentContract.participantAcceptanceDate ; else noDate" > {{ currentContract.participantAcceptanceDate }}</ng-container>
             <ng-template #noDate>Not Signed</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <!-- parties -->
    <div
      class="d-flex justify-content-between flex-column flex-md-row mt-3"
    >
      <!--begin::Content-->
      <div class="flex-grow-1 pt-8">
        <!--begin::Table-->
        <div class="table-responsive border-bottom mb-14">
          <div
            class="border-bottom fs-6 fw-bolder text-muted text-uppercase d-flex align-items-center"
          >
            <i class="fa fa-genderless text-primary fs-1 me-2"></i
            ><span>First Party</span>
          </div>

          <table class="case-info-table mt-10">
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Intitute Name
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.owner.instituteName }}
              </td>
            </tr>

            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Full Name
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.owner.fullName }}
              </td>
            </tr>
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Email
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.businessCase.ownerUser.username }}
              </td>
            </tr>
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Country
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.owner.country }}
              </td>
            </tr>
          </table>
        </div>
        <!--end::Table-->
        <!--begin::Table-->
        <div class="table-responsive border-bottom mb-14">
          <div
            class="border-bottom fs-6 fw-bolder text-muted text-uppercase d-flex align-items-center"
          >
            <i class="fa fa-genderless text-success fs-1 me-2"></i>
            <span>Second Party</span>
          </div>

          <table class="case-info-table mt-10">
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Intitute Name
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.participant.instituteName }}
              </td>
            </tr>

            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Full Name
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.participant.fullName }}
              </td>
            </tr>
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Email
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.participant.userDto.username }}
              </td>
            </tr>
            <tr>
              <td
                class="fw-medium text-uppercase text-primary text-start"
              >
                Country
              </td>
              <td class="fw-medium text-uppercase text-start">
                {{ currentContract.participant.country }}
              </td>
            </tr>
          </table>
        </div>
        <!--end::Table-->
      </div>
      <!--end::Content-->
      <!--begin::Separator-->
      <div class="border-end d-none d-md-block mh-450px mx-9"></div>
      <!--end::Separator-->
      <!--begin::Content-->
      <div class="text-end pt-10">
        <!--begin::Total Amount-->
        <div class="fs-3 fw-bolder text-muted mb-1">TOTAL BUDGET</div>
        <div
          class="fs-xl-2x fs-2 fw-boldest"
          mask="separator.2"
          thousandSeparator=","
        >
          ${{ currentContract.businessCase.budget }}
        </div>
        <div class="fw-bold text-uppercase text-gold">
          {{ (currentContract.businessCase.budget) | numberToWords }}
          <br />
          USD ONLY
        </div>
        <!--end::Total Amount-->
        <div class="border-bottom w-100 mt-2 my-lg-16"></div>
        <!--begin::Invoice To-->
        <div class="fs-3 fw-bolder text-muted mb-1">BUDGET AFTER TAX</div>
        <div
          class="fs-xl-2x fs-2 fw-boldest"
          mask="separator.2"
          thousandSeparator=","
        >
        {{ currentContract.businessCase.budget | currency }}
        </div>
        <div class="fw-bold text-uppercase text-primary">
          {{ currentContract.businessCase.budget | numberToWords }}
          <br />
          USD ONLY
        </div>
         <!--end::Total Amount-->
         <div class="border-bottom w-100 mt-2 my-lg-16"></div>
         <!--begin::Invoice To-->
         <div class="fs-3 fw-bolder text-muted mb-1">TOTAL DURATION</div>
         <div
           class="fs-xl-2x fs-2 fw-boldest"
           mask="separator.2"
           thousandSeparator=","
         >
           {{ currentContract.businessCase.duration }}
           {{ currentContract.businessCase.durationType }}
         </div>
         <div class="fw-bold text-uppercase text-primary">
           {{ currentContract.businessCase.duration | numberToWords }}
           {{ currentContract.businessCase.durationType }}s
         </div>
      </div>
      <!--end::Content-->
    </div>
    <!-- end parties -->
    <div class="case-abstract" style="page-break-before: always;">
      <div class="blank"></div>
      <div class="text-gray-800 fs-6 fw-bolder text-uppercase">
        Discalimer
      </div>
      <div class="case-abstract pt-4 justify-text fs-6">
        <div>
          Research and Development Contract Disclaimer This Research and
          Development Contract is entered into by and between the first
          party and the sconde party. By signing this Contract, the
          parties acknowledges and agrees to the following disclaimer:
        </div>
        <ul class="mt-4">
          <li class="mt-2">
            <span class="fw-bold">1.</span> No Guarantees: The Provider
            acknowledges that research and development activities
            involve inherent uncertainties, risks, and variables that
            are beyond the control of both parties. The Provider cannot
            guarantee specific outcomes or results from the research and
            development efforts. The Client acknowledges and understands
            that the success of the project may depend on various
            factors, including but not limited to market conditions,
            technological advancements, regulatory changes, and
            unforeseen circumstances.
          </li>
          <li class="mt-2">
            <span class="fw-bold">2.</span> Limitation of Liability: The
            Provider's liability under this Contract is limited to the
            fees paid by the Client for the research and development
            services. In no event shall the Provider be liable for any
            indirect, consequential, incidental, punitive, or special
            damages arising out of or in connection with this Contract
            or the research and development activities, including but
            not limited to lost profits, loss of data, or business
            interruption.
          </li>
          <div class="page-break"></div>
          <div class="empty-div"></div>
          <li class="mt-2">
            <span class="fw-bold">3.</span> Intellectual Property: The
            Client acknowledges that any intellectual property rights
            arising from the research and development activities shall
            be governed by separate agreements or applicable laws. This
            Contract does not provide any automatic transfer or
            assignment of intellectual property rights unless explicitly
            stated otherwise in writing.
          </li>
          <li class="mt-2">
            <span class="fw-bold">4.</span> Confidentiality: Both
            parties agree to maintain the confidentiality of any
            proprietary or confidential information shared during the
            course of the research and development activities. The
            Client understands that the Provider may work with other
            clients or engage in similar research and development
            projects that are not subject to this Contract.
          </li>
        </ul>

        <div class="pb-4">
          By signing this contract, the Client acknowledges that they
          have read, understood, and agreed to the terms and conditions
          of this Contract including the business case requirements.
        </div>
      </div>
    </div>
    <!-- case info -->
   <div style="page-break-before: always;">
    <div class="blank"></div>
    <div class="case-abstract mt-5">
      <div class="text-gray-800 fs-6 fw-bolder text-uppercase">
        Case Abstract
      </div>
      <div
        class="case-abstract pt-4 justify-text fs-6"
        [innerHTML]="currentContract.businessCase.caseAbstract"
      ></div>
    </div>
    <div class="case-info mt-10">
      <table class="case-info-table">
        <tr>
          <th class="fw-medium">Case Type</th>
          <th class="fw-medium">Research Duration</th>
          <th class="fw-medium">Case Budget</th>
        </tr>
        <tr>
          <td>{{ currentContract.businessCase.caseType }}</td>
          <td>
            {{ currentContract.businessCase.duration }}
            {{ currentContract.businessCase.durationType }}
          </td>
          <td>{{ currentContract.businessCase.budget }}</td>
        </tr>
      </table>
      <ng-container
        *ngIf="
          currentContract.businessCase.caseRequirementDTOS.length > 0
        "
      >
        <div class="text-gray-800 fs-6 fw-bolder text-uppercase pt-10 pb-4">
          Requirements
        </div>
        <table class="case-info-table ">
          <tr>
            <th class="fw-medium text-uppercase" style="width: 20%;">Name</th>
            <th class="fw-medium text-uppercase"  style="width: 70%;">
              Description
            </th>
            <th class="fw-medium text-uppercase">Attchments</th>
          </tr>
          <ng-container
            *ngFor="
              let req of currentContract.businessCase
                ?.caseRequirementDTOS
            "
          >
            <tr>
              <td>{{ req.name }}</td>
              <td [innerHTML]="req.description | safeHtml"></td>
              <td>
                <a class="cursor-pointer" (click)="downloadFile(req)">
                  {{ req.attachmentName | stringTruncate:10 }}</a
                >
              </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </div>
    <div class="payment-plan mt-10">
      <div class="text-gray-800 fs-6 fw-bolder text-uppercase">
        Payment Plan
      </div>
      <div class="text-primary fw-bolder pt-4 fs-7 text-uppercase">
        <span class="text-gray-800">Type:</span>
        {{ currentContract.businessCase.paymentPlanningMethod }}
      </div>
      <ng-container
        *ngIf="
          currentContract &&
            currentContract.businessCase?.paymentPlanningMethod !==
              'DELIVERABLES';
          else deliverableTable
        "
      >
        <div class="case-info mt-7">
          <table class="case-info-table">
            <tr>
              <th class="fw-medium text-uppercase">Payment No</th>
              <th class="fw-medium text-uppercase">Percentage</th>
              <th class="fw-medium text-uppercase">Amount</th>
            </tr>
            <tr
              *ngFor="
                let payment of currentContract.businessCase
                  .paymentPlanning;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>% {{ payment?.percentage }}</td>
              <td>$ {{ payment?.amount }}</td>
            </tr>
          </table>
        </div>
      </ng-container>
      <ng-template #deliverableTable>
        <div class="case-info mt-7">
          <table class="case-info-table">
            <tr>
              <th class="fw-medium text-uppercase">Deliverable</th>
              <th class="fw-medium text-uppercase">Amount</th>

              <th class="fw-medium text-uppercase">description</th>
            </tr>
            <tr
              *ngFor="
                let payment of currentContract.businessCase
                  ?.paymentPlanning
              "
            >
              <td>{{ payment?.name }}</td>
              <td>${{ payment?.amount }}</td>
              <td>{{ payment?.description }}</td>
            </tr>
          </table>
        </div>
      </ng-template>

      <!-- <div class="delivarble-payment" >
      <label *ngIf="currentContract && currentContract.businessCase?.paymentPlanningMethod ==='DELIVERABLES'" class="fs-6 fw-bold mb-2 text-uppercase text-primary mt-10"
      >Payment Timeline
      <i
        class="fas fa-exclamation-circle ms-2 fs-7"
        data-bs-toggle="tooltip"
        title="Select a discount type that will be applied to this product"
      ></i
    ></label>
      <div #timeline id="timeline" class="mt-10"></div>
    </div> -->
    </div>
   </div>
  </main>
 
