<div class="px-7 py-5">
    <div class="fs-5 text-dark fw-bolder">Filter Options</div>
  </div>
  
  <div class="separator border-gray-200"></div>
  
  <div class="px-7 py-5">
   
  
    <div class="mb-10">
      <label class="form-label fw-bold">Budget:</label>
  
      <div>
        <select [(ngModel)]="budget"
          class="form-select form-select-solid"
          data-kt-select2="true"
          data-placeholder="Select option"
          data-allow-clear="true"
        >
          <option selected value="Accending">Lowest</option>
          <option value="Desndeing">Highest</option>
        </select>
      </div>
    </div>
    <div class="mb-10">
      <label class="form-label fw-bold">Submission Date:</label>
  
      <div>
        <select [(ngModel)]="submissionEndDate"
          class="form-select form-select-solid"
          data-kt-select2="true"
          data-placeholder="Select option"
          data-allow-clear="true"
        >
          <option selected value="latest">Latest</option>
          <option value="earlest">Earlest</option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-end">
  
  
      <button
        type="submit"
        class="btn btn-sm btn-primary"
        data-kt-menu-dismiss="true"
        (click)="onApply()"
      >
        Apply
      </button>
    </div>
  </div>
  