<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <a routerLink="/home" class="logo">
      <img src="assets/img/logo/logo-main-light.svg" alt="main-logo" loading="lazy" width="30" height="40">
      </a>
      <a routerLink="/dashboard" class="logo logo-small d-none d-sm-inline" >
        <img src="assets/img/logo/Logo-text-light.svg" alt="Logo" width="120" class="ml-10" >
      </a>
    </div>
  </div>
  <div class="navbar-right">
    <div class="login-signup">
    <a class="login-nav-btn" routerLink="/auth/login">
      Login
    </a>
    <a class="sign-up-nav " routerLink="/auth/register"  >
      Sign Up
    </a>
    </div>
  </div>
</nav>
