app-notifications-inner {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
    visibility: hidden;
  }
  
  app-notifications-inner.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  .notification-wrapper {
    position: relative;
  }
  
