
a{
  text-decoration: none;
}
.h-207{
  height: 207px !important;
}
.primary-bg{
  background-color: #0778b9!important;
}
.arrow-2{
  border-color: #0778b9!important;
  i {
    color: #0778b9 !important;
  }
}

.max-height{
  max-height: 167px;
}
