.app-main{
    width: 84%;
    background-color: #fff;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: -90px;
    border: 1px solid #F1F1F4;
    padding: 40px;
}