<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder text-dark">Choose participants</h2>
 
</div>



<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
  <div class="filter-btns ">
    <div class="country-filter ">
      <mat-label for="continent">Continent</mat-label>
      <div class="selection-box">
        <mat-select multiple [(value)]="selectedContinents" (selectionChange)="applyFilterMulti()">

          <mat-option *ngFor="let continent of continent" [value]="continent">{{continent}}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="country-filter ">
      <mat-label>Country</mat-label>
      <mat-select multiple [(ngModel)]="selectedCountries" (selectionChange)="applyFilterMulti()">

        <mat-option *ngFor="let country of countries" [value]="country">
          <img class="flag-svg" [src]="getCountryImg(country)" alt="Flag">
          {{ country  }}
        </mat-option>
      </mat-select>
    </div>

    <div class="country-filter">
      <mat-label>Type</mat-label>
<mat-select multiple [(ngModel)]="selectedTypes" (selectionChange)="applyFilterMulti()">

  <mat-option *ngFor="let type of types" [value]="type">
    {{ type }}
  </mat-option>
</mat-select>
    </div>
  </div>
 </div>
    <div class="pb-100"  >
      <ng-template matStepLabel>Participants</ng-template>
      <div class="fv-row grid-item position-relative search-filter mb-5">
        <!--begin::Label-->
        <label class="d-flex align-items-center fs-5 fw-bold mb-2 search-label">
          <span class=" fw-medium pl-5 search-label" > <mat-icon>search</mat-icon></span>
        </label>
        <!--end::Label-->
        <!--begin::Input-->
        <input
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="name"
          placeholder="Search"
          value=""
          (keyup)="applyFilter($event)" #input
        />

      </div>



      <div class="mat-elevation-z8">
        <ng-container *ngIf="loading">
          <span class="indicator-progress text-center text-primary" [style.display]="'block'">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
        <table mat-table [dataSource]="dataSource" matSort *ngIf="!loading">
          <!-- Select -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef style="width:70px">
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- ID Column -->

          <!-- Progress Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-uppercase" style="width: 150px;"> Type </th>
            <td mat-cell *matCellDef="let row" > <span class="
              badge
              "
              [ngClass]="{
                ' badge-light-primary': row.participantType === 'BUSINESS',
                '  text-gold bg-light-warning': row.participantType === 'INDIVIDUAL',
                '  text-green bg-light-success': row.participantType === 'RESEARCHER'
              }"
              >{{row.participantType}}</span>  </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="participants">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="text-uppercase"style="    width: 315px;"> Participants </th>
            <td mat-cell *matCellDef="let row" class="d-flex align-items-center">
            <ng-container *ngIf="row.profilePicBase64 ;else noPic">  <img class="profile-pic" [src]="('data:image/jpeg;base64,'+ row.profilePicBase64)" alt="profilePic"></ng-container>
            <ng-template #noPic >
              <img class="profile-pic" src="https://firebasestorage.googleapis.com/v0/b/webartpath.appspot.com/o/image%20project.png?alt=media&token=19555bcf-e269-47b4-a33a-2df0b6f9e8f6" alt="profilePic">
            </ng-template>
              <span class="fw-medium pre-space d-block">{{row.fullName}}</span> </td>
          </ng-container>

          <!-- Country Column -->
          <ng-container matColumnDef="country" >
            <th mat-header-cell *matHeaderCellDef class="text-uppercase" mat-sort-header style="    width: 160px;"> Country </th>
            <td mat-cell *matCellDef="let row">
              <span class="pre-space">
              <img class="flag-svg" [src]="getCountryImg(row.country)" alt="Flag">
              {{row.country}}</span> 
            </td>
          </ng-container>

             <!-- Rating Column -->
             <!-- <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef class="text-uppercase" mat-sort-header> Rating </th>
              <td mat-cell *matCellDef="let row">
                <span class="pl-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                    <path d="M6.4427 10.3131L9.56732 12.2029C10.1395 12.5493 10.8397 12.0373 10.6892 11.3898L9.86095 7.83601L12.6242 5.44173C13.1286 5.00503 12.8576 4.17682 12.195 4.12412L8.5584 3.81542L7.13539 0.457399C6.87939 -0.152466 6.00601 -0.152466 5.75001 0.457399L4.327 3.80789L0.690395 4.11659C0.027826 4.16929 -0.243225 4.9975 0.261231 5.4342L3.02445 7.82848L2.19623 11.3823C2.04565 12.0298 2.74586 12.5418 3.31808 12.1954L6.4427 10.3131Z" fill="#E79E08"/>
                    </svg>
                </span>
                 N.A </td>
            </ng-container> -->


               <!-- Details Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-uppercase text-center" mat-sort-header> Details </th>
            <td mat-cell *matCellDef="let row" >
              <span class="view-profile pre-spac cursor-pointer d-block" (click)="viewProfile($event,row.username); ">View Profile</span> </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <ng-container *ngIf="showError">
        <div
        class="notice d-flex mt-2 mb-2 justify-content-center bg-light-danger rounded border-danger border pl-10"
      >
        <!--begin::Icon-->
        <!--end::Icon-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-stack flex-grow-1">
          <!--begin::Content-->
          <div class="fw-bold">
            <h4 class="text-gray-900 fw-bolder fs-7" style="padding-top: 8px ;">Please select participants.</h4>
          </div>
          <!--end::Content-->
        </div>
        <!--end::Wrapper-->
      </div>
      </ng-container>


    </div>

