<!-- Sidebar -->
<div
  class="sidebar"
  (mouseover)="miniSideBarMouseHover('over')"
  (focus)="miniSideBarMouseHover('over')"
  (mouseout)="miniSideBarMouseHover('out')"
  (blur)="miniSideBarMouseHover('out')"

  id="sidebar"
>

    <div class="sidebar-inner slimScroll pt-3 pl-20">
      <ul class="nav user-menu">

  <!-- /Notifications -->


  <!-- User Menu -->

  <!-- /User Menu -->

</ul>
    
      <div id="sidebar-menu " class="sidebar-menu">
        <ul>
          <ng-container *ngFor="let mainTittle of side_bar_data">
            <li class="menu-title">
              <span>{{ mainTittle.tittle }}</span>
            </li>
            <ng-container *ngFor="let menu of mainTittle?.menu">
              <li
                [class.active]="base === menu.base "
                *ngIf="menu?.hasSubRoute === false"
                class="mt-3"
              >
                <a [routerLink]="menu.menuValue ==='Cases' ? 'cases-main' :(menu.menuValue ==='Prizes' ? 'prizes' : menu.route) "  style="text-decoration: none;"
                  >
                  <i class="material-icons">{{menu.icon}}</i>

                  <span class="feature-name">{{ menu?.menuValue }}</span></a
                >
              </li>
              <li
                class="submenu"
                *ngIf="menu.hasSubRoute === true"
                [class.active]="base === menu.base"

              >
                <a
                (click)="expandSubMenus(menu)"
                  href="javascript:void(0);"
                  [ngClass]="{ subdrop: menu.showSubRoute === true }"
                  ><i class="material-icons">{{menu.icon}}</i>
                  <span> {{ menu.menuValue }}</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul
                  [ngClass]="
                    menu.showSubRoute === true
                      ? 'show-sub-menu'
                      : 'hide-sub-menu'
                  "
                >
                  <ng-container *ngFor="let subMenus of menu.subMenus">
                    <li>
                      <a

                        [routerLink]="subMenus.route"
                        [class.active]="page === subMenus.base || page === subMenus.base2 || page === subMenus.base3 ||page === subMenus.base4 || page === subMenus.base5 || page === subMenus.base5 || page === subMenus.base6"
                        >{{ subMenus.menuValue }}</a
                      >

                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-container>

        </ul>

      </div>
    </div>
</div>
<!-- /Sidebar -->
