<div class="position-relative">
    <app-feature-header
      [icon]="'./assets/media/icons/duotune/finance/fin010.svg'"
      [featureName]="'Finance'"
    ></app-feature-header>
    <div class="d-flex sub-nav-links">
      <div class="content-wrapper">
        <div
          class="d-flex justify-content-end align-items-center position-relative z-index-2 mt-10 container"
        >
          <div class="tabs-nav custom-tabs">
            <a
              class="custom-tab position-relative"
              *ngFor="let link of navLinks"
              [routerLink]="link.link"
              routerLinkActive
              #rla="routerLinkActive"
              [class.active]="rla.isActive"
              id="navlink"
            >
              <div class="symbol-label d-inline-block pe-2">
                <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
                <span
                  class="svg-icon svg-icon-2"
                  [class.svg-icon-gray-200]="rla.isActive"
                  [class.svg-icon-gray-500]="!rla.isActive"
                  [innerHTML]="link.icon"
                >
                </span>
                <!--end::Svg Icon-->
              </div>
              {{ link.label }}
            
            </a>
          </div>
        </div>
        <div class="custom-tab-content container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  