<div class="row gy-5 g-xl-8">

  <div class="page-header min-height-500  mt-4">
    <div class="text-container-header pt-20">
      <h1 class="  animate-text fs-2">
        <span class="svg-icon svg-icon-primary px-5"
        >
          <span [inlineSVG]="'./assets/media/icons/duotune/abstract/abs027.svg'" class="svg-icon  svg-icon-1 svg-icon-4hx" ></span>
        </span>
        <span class="text-uppercase text-white">Case Summary </span>
      </h1>
      <h1 class=" animate-text pb-50 fs-6 fw-light mt-2">

      </h1>

    </div>

<div class="overlay-bg">
  <div class="overlay-layered">
    <div #backgroundVideo muted autoplay loop playsinline class="video-bg ">
    </div>
  </div>

</div>
  <!-- <video #backgroundVideo muted autoplay loop playsinline class="video-bg">

    <source src="assets/video/cases-header.mp4" type="video/mp4">
  </video> -->
  <div class="filter">.</div>
    <span class=" bg-gradient-primary"></span>

  </div>

</div>
