th{
    color: #0778b9;
  padding-left: 10px !important;
  background-color: #F5FAFF;
}
.cursor-na{
  cursor:default !important;
}
.act-btn{
  min-width: 20%;
  margin: 7px 0;
}
.indicator-progress{
  color: #0778B9;
font-size: 1.2rem;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 172.727% */
letter-spacing: -0.55px;
}