.case-create {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/webartpath.appspot.com/o/19.jpg?alt=media&token=ddd99784-72ff-4505-a62d-c3fd27bf65fd');
    border-radius: 14px;
      @media (max-width:1200px) {
          background-position: center;
         height: 250px;
        }
   }
   .arrow-create{
    border: none;
  position: absolute;
  top: 10px;
 
      right: 18px;
}
.arrow-create{
    border: none;
  position: absolute;
  top: 10px;
 
      right: 18px;
}
.border-btn{
    background: none;
    padding: 5px 20px;
    border: 1px solid #0778b9;
    border-radius: 50px;
    width: fit-content;
    a{
      text-decoration: none;
  
    }
  }