<div class="bgi-no-repeat bgi-size-cover case-create h-100"  style="max-height: 183px;">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column gap-10 ">
      <!--begin::Title-->
      <div class=" fs-3">
        <h2 class=" fs-3 text-primary mb-2">Create a New Case</h2>
        <div class="text-gray-600 mt-1 fw-bold fs-7">Let us find a solution for your case now!</div>
      </div>
      <!--end::Title-->
      <!--begin::Link-->
      <button class="border-btn position-relative text-white" style="padding-right: 40px; background-color: #0778b9;" (click)="openCreateCase()">
        <a  class="text-primary fw-bold" data-bs-toggle="modal"
          data-bs-target="#kt_modal_create_campaign ">Create Case
          <a  class="link-btn-2 arrow-2 arrow-create" >
            <i class="fas fa-arrow-right text-white"  ></i>
            <i class="fas fa-arrow-right text-white" ></i>
    </a>

          <!--end::Svg Icon--></a>
      </button>
      <!--end::Link-->
    </div>
    <!--end::Body-->
  </div>