.add-judge{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
}
ul{
  padding-left: 0 !important;
}

li{
    display: flex;
    background-color: #e9f4ff;
    padding: 6px 15px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
}