<!-- <div
  class="d-flex flex-column flex-grow-1 gap-7 my-4 my-8 px-5 hover-scroll-y me-3"
  data-kt-scroll="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-offset="5px"
  style="height: 137px; width: 300px;">
  <div class="d-flex align-items-center position-relative">
    <div
      class="d-flex flex-center flex-shrink-0 w-25px h-25px bg-light-success rounded-circle border border-success"
    >
      <div class="w-8px h-8px bg-success rounded-circle"></div>
    </div>
    <div
      class="card border border-dashed d-flex flex-column p-6 gap-10 flex-grow-1 mb-2 ms-4"
    >
      <div class="d-flex flex-stack">
        <div
          class="d-flex flex-center h-40px w-40px flex-shrink-0 rounded-circle bg-light-success border border-gray-200"
        >
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr084.svg'"  class=" text-gray-600 lh-0 fs-2 svg-icon svg-icon-1 svg-icon-success"></span>
        </div>

        <span
          class="rounded text-success fw-semibold fs-8 bg-light-success py-1 px-2 border border-success-clarity"
        >
          Paied
        </span>
      </div>

      <div class="d-flex flex-column">
        <span class="fs-base text-gray-500"> Deliverable 1 </span>
        <span class="fs-6 fw-bold text-gray-800"> $2000 </span>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center position-relative">
    <div
      class="d-flex flex-center flex-shrink-0 w-25px h-25px bg-light-success rounded-circle border border-success"
    >
      <div class="w-8px h-8px bg-success rounded-circle"></div>
    </div>
    <div
      class="h-100 w-1px border-end border-success position-absolute translate-y-middle top-n50 bottom-50 app-sidebar-panel-timeline"
    ></div>
    <div
      class="card border border-dashed d-flex flex-column p-6 gap-10 flex-grow-1 mb-2 ms-4"
    >
      <div class="d-flex flex-stack">
        <div
          class="d-flex flex-center h-40px w-40px flex-shrink-0 rounded-circle bg-light-success border border-gray-200"
        >
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr084.svg'"  class=" text-gray-600 lh-0 fs-2 svg-icon svg-icon-1 svg-icon-success"></span>
        </div>

        <span
          class="rounded text-success fw-semibold fs-8 bg-light-success py-1 px-2 border border-success-clarity"
        >
          Paied
        </span>
      </div>

      <div class="d-flex flex-column">
        <span class="fs-base text-gray-500"> Deliverable 2 </span>
        <span class="fs-6 fw-bold text-gray-800">
            $8000
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center position-relative">
    <div
      class="d-flex  flex-center flex-shrink-0 w-25px h-25px bg-light-warning rounded-circle  border-warning-clarity">
      <div class="w-8px h-8px bg-warning rounded-circle"></div>
    </div>
    <div
      class="h-100 w-1px border-end border-warning-clarity  position-absolute translate-y-middle top-n50 bottom-50 app-sidebar-panel-timeline"
    ></div>
    <div
      class="card border-0 d-flex flex-column p-6 gap-10 flex-grow-1 mb-2 ms-4"
      style="    background: linear-gradient(180deg, #fd9218 0%, #de7500 100%)"
      data-bs-theme="light"
    >
      <div class="d-flex flex-stack">
        <div
          class="d-flex flex-center h-40px w-40px flex-shrink-0 rounded-circle border border-light-clarity"
        >
          <svg
            version="1.1"
            id="L9"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 100 100"
            enable-background="new 0 0 0 0"
            xml:space="preserve"
          >
            <rect x="40" y="35" width="4" height="10" fill="#fff">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="translate"
                values="0 0; 0 20; 0 0"
                begin="0"
                dur="0.6s"
                repeatCount="indefinite"
              ></animateTransform>
            </rect>
            <rect x="50" y="35" width="4" height="10" fill="#fff">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="translate"
                values="0 0; 0 20; 0 0"
                begin="0.2s"
                dur="0.6s"
                repeatCount="indefinite"
              ></animateTransform>
            </rect>
            <rect x="60" y="35" width="4" height="10" fill="#fff">
              <animateTransform
                attributeType="xml"
                attributeName="transform"
                type="translate"
                values="0 0; 0 20; 0 0"
                begin="0.4s"
                dur="0.6s"
                repeatCount="indefinite"
              ></animateTransform>
            </rect>
          </svg>
        </div>

        <span
          class="rounded text-white fw-semibold fs-8 bg-white bg-opacity-10 py-1 px-2 border border-light-clarity"
        >
          Pending
        </span>
      </div>

      <div class="d-flex flex-column">
        <span class="fs-base text-gray-200"> Deliverable 3 </span>
        <span class="fs-6 fw-bold text-white"> $8000 </span>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center position-relative">
    <div
      class="d-flex flex-center flex-shrink-0 w-25px h-25px bg-light-gray-100 rounded-circle border border-gray-300"
    >
      <div
        class="w-8px h-8px border border-gray-300 bg-gray-200 rounded-circle"
      ></div>
    </div>
    <div
      class="h-100 w-1px border-end border-gray-200 position-absolute translate-y-middle top-n50 bottom-50 app-sidebar-panel-timeline"
    ></div>

    <div
      class="card border border-dashed d-flex flex-column p-6 gap-10 flex-grow-1 mb-2 ms-4"
    >
      <div class="d-flex flex-stack">
        <div
          class="d-flex flex-center h-40px w-40px flex-shrink-0 rounded-circle bg-gray-100 border border-gray-200"
        >
          <i class="ki-outline ki-pin text-gray-600 lh-0 fs-2"></i>
        </div>

        <span
          class="rounded text-primary fw-semibold fs-8 bg-light-primary py-1 px-2 border border-primary-clarity"
        >
          In Progress
        </span>
      </div>

      <div class="d-flex flex-column">
        <span class="fs-base text-gray-500"> Deliverable 4 </span>
        <span class="fs-6 fw-bold text-gray-800">
            $2000
        </span>
      </div>
    </div>
  </div>


</div> -->

<app-payment-process [isAdmin]="true"></app-payment-process>