th,td{
    padding: 20px 40px;
}
.search-label{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  input{
    padding-left: 50px;
  }
  

  .search-filter {
    width: 240px;
    margin: 0 10px;
    
  }