.menu-link {
    
    padding: 0 !important;
  
}

.menu-title{
    font-size: 12px !important;
    font-weight: 500 !important;
}
.card{
    border-radius: 9px !important;
}
.menu-link:hover{
    background: none !important;
    .menu-title {
        color: #0778b9 !important;
    }
   
}