<form action="" [formGroup]="fileGroup" (ngSubmit)="submit" class="p-10">
    <h1 class="fs-4">Upload {{data}}</h1>


  <div class="row pt-20">
    <div class="certficate-gorup">
      <div class="d-flex flex-column">
        <div class="control">
          <div class="upload-btn-control d-flex flex-column">
            <label for="{{data}}">
              <div class="dropzone" id="kt_modal_create_project_settings_logo">
                <!--begin::Message-->
                <div class="dz-message needsclick">
                  <!--begin::Icon-->
                  <!--begin::Svg Icon | path: icons/duotune/files/fil010.svg-->
                  <span class="svg-icon svg-icon-3hx svg-icon-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path opacity="0.3"
                        d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM14.5 12L12.7 9.3C12.3 8.9 11.7 8.9 11.3 9.3L10 12H11.5V17C11.5 17.6 11.4 18 12 18C12.6 18 12.5 17.6 12.5 17V12H14.5Z"
                        fill="black" />
                      <path d="M13 11.5V17.9355C13 18.2742 12.6 19 12 19C11.4 19 11 18.2742 11 17.9355V11.5H13Z"
                        fill="black" />
                      <path
                        d="M8.2575 11.4411C7.82942 11.8015 8.08434 12.5 8.64398 12.5H15.356C15.9157 12.5 16.1706 11.8015 15.7425 11.4411L12.4375 8.65789C12.1875 8.44737 11.8125 8.44737 11.5625 8.65789L8.2575 11.4411Z"
                        fill="black" />
                      <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
                    </svg>
                  </span>
                  <!--end::Svg Icon-->
                  <!--end::Icon-->
                  <!--begin::Info-->
                  <div class="ms-4">
                    <h3 class="fs-4 fw-bolder text-gray-900 mb-1" [hidden]="fileGroup.get('fileUploaded')?.value">Upload
                      {{data}}</h3>
                    <i class="fa fa-file text-secondary mb-3" [hidden]="!fileGroup.get('fileUploaded')?.value"></i>
                  </div>
                  <!--end::Info-->
                </div>
              </div>

            </label>

            <input (change)="handleFileUpload($event)" [hidden]="true" type="file"
              accept=".pdf, .doc, .docx, .jpg, .jpeg, .png" id="{{data}}" formControlName="file" />
          </div>
        </div>
        <div class="control">

          <div class="fv-row mb-8 pt-10">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
              <span class="required">Name</span>
              <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify project name"></i>
            </label>
            <!--end::Label-->
            <!--begin::Input-->
            <div class="position-relative">
              <input matInput type="text" formControlName="name" class="form-control expiry-input form-control-solid"
                placeholder="Enter Project Name"  name="settings_name" />
            </div>
            <!--end::Input-->
          </div>
<ng-container *ngIf="data === 'certificate'">

<div class="fv-row mb-8 ">
  <!--begin::Label-->
  <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
    <span class="required">Expiry Date</span>
    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify project name"></i>
  </label>
  <!--end::Label-->
  <!--begin::Input-->
  <div class="position-relative">
    <input matInput [matDatepicker]="picker" formControlName="expiryDate" class="form-control expiry-input form-control-solid"
      placeholder=" Expiry Date" name="settings_name" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  </div>

  <ng-container *ngIf="invalidMessage">
    <div
    class="fv-plugins-message-container invalid-feedback"

  >
   Invalid inputs
  </div>
  </ng-container>
  <!--end::Input-->
  <mat-datepicker #picker></mat-datepicker>
</div>
</ng-container>
        </div>
      </div>

    </div>
  </div>

  <div class="row pt-20">
    <div class="text-center">
      <!--begin::Link-->
      <button type="submit" class="btn btn-md btn-primary btn-primary-eu btn-primary btn-primary-eu-eu me-2" (click)="submit()" >Submit</button>
      <!--end::Link-->
      <!--begin::Link-->
      <a class="btn btn-md btn-light" (click)="onNoClick()" >Cancel</a>
      <!--end::Link-->
    </div>
  </div>

</form>
